*

!.gitignore
!build.gradle.kts

!CHANGELOG.md
!CODE_OF_CONDUCT.md
!GOVERNANCE.md

!gradle.properties
!gradlew
!gradlew.bat

!LICENSE
!qodana.yml
!README.md
!settings.gradle

!gradle/
!gradle/.gitignore

!src/
!src/.gitignore

!.run/
!.run/.gitignore

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/

**/.gradle
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin/
**/nbproject/private/
**/nbbuild
**/nbdist
**/.nb-gradle
**/.vscode
**/*~
**/*.log
**/.env
**/.env.*
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build