*

!.gitignore

!main/
!test/
!test/**
!main/kotlin/
!main/resources/
!main/resources/**
!main/kotlin/littleowle/
!main/kotlin/littleowle/ai/
!main/kotlin/littleowle/ai/ollama/
!main/kotlin/littleowle/ai/ollama/commit/
!main/kotlin/littleowle/ai/ollama/commit/listeners/
!main/kotlin/littleowle/ai/ollama/commit/listeners/OllamaCommitApplicationStartupListener.kt
!main/kotlin/littleowle/ai/ollama/commit/notifications/
!main/kotlin/littleowle/ai/ollama/commit/notifications/Notification.kt
!main/kotlin/littleowle/ai/ollama/commit/notifications/Notifier.kt
!main/kotlin/littleowle/ai/ollama/commit/services/
!main/kotlin/littleowle/ai/ollama/commit/services/OllamaCommitProjectService.kt
!main/kotlin/littleowle/ai/ollama/commit/settings/
!main/kotlin/littleowle/ai/ollama/commit/settings/clients/
!main/kotlin/littleowle/ai/ollama/commit/settings/clients/**
!main/kotlin/littleowle/ai/ollama/commit/settings/prompts/
!main/kotlin/littleowle/ai/ollama/commit/settings/prompts/**
!main/kotlin/littleowle/ai/ollama/commit/settings/AppSettings.kt
!main/kotlin/littleowle/ai/ollama/commit/settings/AppSettings2.kt
!main/kotlin/littleowle/ai/ollama/commit/settings/AppSettingsConfigurable.kt
!main/kotlin/littleowle/ai/ollama/commit/settings/ExclusionsConfigurable.kt
!main/kotlin/littleowle/ai/ollama/commit/settings/OllamaCommitListCellRenderer.kt
!main/kotlin/littleowle/ai/ollama/commit/settings/ProjectSettings.kt
!main/kotlin/littleowle/ai/ollama/commit/toolWindow/
!main/kotlin/littleowle/ai/ollama/commit/toolWindow/OllamaCommitToolWindowFactory.kt
!main/kotlin/littleowle/ai/ollama/commit/Icons.kt
!main/kotlin/littleowle/ai/ollama/commit/OllamaCommitAction.kt
!main/kotlin/littleowle/ai/ollama/commit/OllamaCommitBundle.kt
!main/kotlin/littleowle/ai/ollama/commit/OllamaCommitExtensions.kt
!main/kotlin/littleowle/ai/ollama/commit/OllamaCommitUtils.kt